/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: "Lato", sans-serif;
  color: $base-color-text;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}
