/* здесь используйте глобальные переменные */
$button-text-active: rgba(255, 255, 255, 0.3);
$color-active-logo: rgba(104, 183, 56, 0.3);
$more-color: #ebebeb;
$nav-bg-color: rgba(29, 38, 15, 0.87);
$background-gradient: rgba(104, 183, 56, 0.85);
$shadow-color: #ffffff;
$secondary-color-title: #111111;
$color-icon: #666666;
$color-line: #d9d9d9;
$outline-color: #bababa;
$button-hover: #5eaa2f;
$example-bg-color: #eaeaea;
$color-pluse-catalog: #d3d3d3;
$third-color-text: #ffffff;
$third-bg-color: #f2f2f2;
$secondary-bg-color: #ffffff;
$catalog-border: #cdcdcd;
$secondary-color-text: #222222;
$base-color-title: #000000;
$base-color-text: #444444;
$base-bg-color: #68b738;
$border-color: #e6e6e6;
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;
$only-mobile: 767px;
