/* здесь используйте глобальные переменные */
$base-color-title: #000000;
$base-color-text: #444444;
$base-bg-color: #68b738;
$border-color: #e6e6e6;
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;
$only-mobile: 767px;
