/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden";

/* BLOCKS */

@import "./blocks/container-breakpoint.scss";
@import "./blocks/container-fix.scss";
@import "./blocks/button.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/index-text.scss";
@import "./blocks/advantages.scss";
@import "./blocks/functions.scss";
@import "./blocks/example.scss";
@import "./blocks/slider.scss";
@import "./blocks/address.scss";
@import "./blocks/footer.scss";
@import "./blocks/catalog.scss";
@import "./blocks/item-more";
@import "./blocks/add-product.scss";
@import "./blocks/add-components.scss";
@import "./blocks/promotions.scss";
@import "./blocks/subscribe.scss";
