.add-components {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.add-components__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    align-self: center;
  }
}

.add-components__info {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.add-components__price {
  text-align: right;

  @media (min-width: $desktop-width) {
    padding-right: 40px;
  }
}

.add-components__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
  width: 280px;
  padding-bottom: 19px;
  padding-top: 13px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 26px 38px 28px;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 25px 0;
  }

  @media (min-width: $desktop-width) {
    width: 894px;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px 0 17px;
  }
}

.add-components__item:last-child {
  padding-bottom: 25px;
  border-bottom: 1px solid #cdcdcd;
}

.add-components__button {
  margin-top: 2px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    grid-column: 4 / 5;
  }
}
