
.address {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.address__map-container {
  margin: 0 auto;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.address__map {
  width: 100vw;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.address__map-nojs {
  background-image: url("../../images/map-nojs/map-mobile@1x.png");
  width: 320px;
  height: 362px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-image: url("../../images/map-nojs/map-tablet@1x.png");
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/map-nojs/map-desktop@1x.png");
    width: 1440px;
    height: 400px;
  }
}

.address__container {
  width: 320px;
  min-height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 200px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    min-height: 199px;
    background-color: #ffffff;
    top: 95px;
    left: 110px;
    padding: 60px 78px 60px 80px;
  }
}

.address__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 160px;

    br {
      display: block;
    }
  }
}

.address__text {
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 157px;
    text-align: end;
    font-style: normal;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

@media (min-width: $tablet-width) {
  .address__city {
    padding-top: 20px;
  }
}

.address__image {
  position: absolute;
  bottom: -200px;
  right: 126px;

  @media (min-width: $tablet-width) {
    bottom: -215px;
    right: 327px;
  }

  @media (min-width: $desktop-width) {
    top: 120px;
    right: 635px;
  }
}

.address__container--catalog {
  @media (min-width: $mobile-width) {
    background-color: #f2f2f2;
  }

  @media (min-width: $mobile-width) and (max-width: 1439px) {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    justify-content: center;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    gap: 308px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}
