.button {
  font-family: "Oswald", "Arial", sans-serif;
  width: 280px;
  height: 40px;
  background-color: $base-bg-color;
  border: none;
  color: $third-color-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: $button-hover;
}

.button:active {
  background-color: $button-hover;
  color: rgba(255, 255, 255, 0.3);
}
