
.catalog {
  width: 320px;
  margin: 0 auto;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-top: 52px;
    padding-top: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-top: 18px;
  }
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $base-color-title;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 41px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 165px;
    padding-left: 0;
  }
}

.catalog__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    gap: 141px 60px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    gap: 144px 80px;
    margin-bottom: 71px;
  }
}

.catalog__item {
  position: relative;
  width: 320px;
  min-height: 209px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 55px 48px 57px;
  padding: 20px 20px 25px;
  // border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: none;
    width: 324px;
    height: 430px;
    padding: 0 37px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 161px 68px 84px 72px;
    justify-items: center;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 154px 68px 84px 72px;
    width: 245px;
  }
}

@media (max-width: $only-mobile) {
  .catalog__item::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #ebebeb;
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}

.catalog__image-link {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    margin-top: -70px;
  }
}

.catalog__info-list {
  list-style-type: none;
  width: 140px;
  min-height: 48px;
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__info-item {
  display: flex;
  justify-content: space-between;
  min-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.catalog__title-info-link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    grid-row: 2 / -4;
  }
}

.catalog__title-info {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $base-color-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center;
  }
}

.catalog__info-text {
  font-size: 12px;
  line-height: 16px;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__info-text--bias {
    width: 52px;
  }
}


.catalog__button {
  grid-column: 1 / -1;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 37px;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-top: 45px;
  }
}

.catalog__button-more {
  background-color: #f2f2f2;
  color: $base-color-text;
}

@media (max-width: $only-mobile) {
  .catalog__image-link--small {
    padding-top: 7px;
  }
}
