.container-breakpoint {
  background-color: $third-bg-color;
}

.container-breakpoint--example {
  background-color: $example-bg-color;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}
