.container-fix {
  width: $mobile-width;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
