.example {
  background-color: #eaeaea;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-title;
}

.exapmle__results-text {
  font-size: 12px;
  line-height: 12px;
}

.example__results-number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-title;
}

.example__price {
  font-family: "Oswald", "Arial", sans-serif;
  color: $base-color-title;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider-button {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  mask-image: url("../../icons/stack.svg#icon-slider");
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
  mask-position: center center;
}
