.example {
  background-color: #eaeaea;
  width: 320px;
  min-height: 659px;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    background-color: #ffffff;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
    position: relative;
    min-height: 598px;
  }
}

@media (min-width: $desktop-width) {
  .example__background-desktop {
    background-color: #f2f2f2;
    min-height: 462px;
  }
}

.example__slider {
  margin: 0 auto;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-title;
  padding-top: 25px;
  padding-left: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    margin-bottom: 60px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    margin-bottom: 76px;
  }
}

.example__text {
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    width: 747px;
    min-height: 72px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 542px;
    padding-top: 70px;
    padding-left: 110px;
    margin-bottom: 69px;
  }
}

.example__results-wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 367px;
    margin-left: 30px;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-bottom: 55px;
  }
}

.exapmle__results-text {
  width: 124px;
  min-height: 70px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: end;
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 162px;
    padding: 0;
    justify-content: unset;
  }

  @media (min-width: $desktop-width) {
    height: 77px;
  }
}

.example__results-number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-title;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  height: 56px;
  padding-top: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    height: 72px;
    padding-top: 15px;
  }
}

.example__results-explanaction {
  margin: -17px;
  background-color: #eaeaea;
  width: 77px;
  margin-left: 22px;

  @media (min-width: $tablet-width) {
    min-width: 139px;
    background-color: #ffffff;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__price {
  font-family: "Oswald", "Arial", sans-serif;
  color: $base-color-title;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 174px;
    margin-right: 30px;
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-left: 110px;
    width: 334px;
    flex-direction: row;
    gap: 67px;
  }
}

@media (min-width: $tablet-width) {
  .example__text-tablet-wrapper {
    display: flex;
    height: 77px;
    margin-bottom: 250px;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .example__text-tablet-wrapper {
    display: flex;
    height: 77px;
    margin-bottom: 267px;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  br {
    display: none;
  }
}

