.footer__social-link--vk {
  display: block;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/stack.svg#social-vk");
  mask-size: 27px 17px;
  mask-repeat: no-repeat;
  background-color: #666666;
  mask-position: center center;
}

.footer__social-link--youtube {
  display: block;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/stack.svg#social-youtube");
  mask-size: 24px 19px;
  mask-repeat: no-repeat;
  background-color: #666666;
  mask-position: center center;
}

.footer__social-link--telegram {
  display: block;
  width: 28px;
  height: 22px;
  mask-image: url("../../icons/stack.svg#social-telegram");
  mask-size: 19px 17px;
  mask-repeat: no-repeat;
  background-color: #666666;
  mask-position: center center;
}

.main-footer__logo-text-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
}
