
.nav {
  position: relative;
}

@media (min-width: $desktop-width) {
  .nav__background-desktop::before {
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    background-color: rgba(104, 183, 56, 0.85);
    top: -65px;
    left: -134px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set("../../images/index-background-desktop@1x.jpg" 1x, "../../images/index-background-desktop@2x.jpg" 2x);
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.nav__toggle {
  width: 24px;
  height: 24px;
  mask-image: url("../../icons/stack.svg#icon-toggle");
  mask-repeat: no-repeat;
  background-color: $base-color-title;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__toggle:hover {
  opacity: 0.8;
}

.nav__toggle:active {
  opacity: 0.6;
}
