.page__body {
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}


/* stylelint-disable-next-line @stylistic/max-empty-lines */
