.promotions {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.promotions__title {
  font-family: "Oswald", "Arial", sans-serif;
  color: $base-color-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-top: 40px;
  padding-bottom: 32px;
}

.promotions__info {
  font-family: "Oswald", "Arial", sans-serif;
  color: $base-color-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.promotions__button {
  height: 56px;
}
