.promotions__title {
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.promotions__info {
  font-family: "Oswald", sans-serif;
  color: $base-color-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.promotions__button {
  height: 56px;
}
