.slider {
  position: relative;
  flex-wrap: wrap;
  width: 280px;
  height: 256px;
  display: flex;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    height: 462px;
    background-color: #eaeaea;
  }
}

@media (min-width: $tablet-width) {
  .slider__wrapper {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    margin-top: -156px;
  }
}

.slider__wrapper-before {

}

.slider__wrapper-after {
  position: absolute;
}

.slider__icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__button {
  cursor: pointer;
  width: 4px;
  color: #666666;
  border: 2px solid #666666;
  border-radius: 2px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  @media (min-width: $tablet-width) {
    margin-top: -156px;
    height: 110%;
  }
}

