.slider {
  position: relative;
  flex-wrap: wrap;
  width: 280px;
  height: 256px;
  display: flex;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    height: 462px;
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: transparent;
    bottom: -65px;
    left: 770px;
    width: 560px;
    height: 512px;
  }
}

.slider__wrapper {
  width: 280px;
  height: 256px;
}

@media (min-width: $tablet-width) {
  .slider__wrapper {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    margin-top: -149px;
  }
}

.slider__wrapper-before {
  clip-path: xywh(0% 0 50% 100%);
  display: block;
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%);
}

.slider__wrapper-after {
  clip-path: xywh(50% 0 50% 100%);
  display: block;
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%);
}

.slider__button {
  cursor: pointer;
  width: 4px;
  color: #666666;
  border: 2px solid #666666;
  border-radius: 2px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  &:hover {
    color: #68b738;
    border: 2px solid #68b738;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-top: -152px;
    height: 110%;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.slider__button:hover .slider__icon {
  fill: #68b738;
  stroke: #68b738;
  border: 2px solid #68b738;
  border-radius: 50%;
}


.slider__icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}
