.slider {
  position: relative;
  flex-wrap: wrap;
  width: 280px;
  height: 256px;
  display: flex;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 462px;
    background-color: $example-bg-color;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-color: transparent;
    bottom: -139px;
    left: 771px;
    width: 560px;
    height: 512px;
  }
}

.slider__wrapper {
  width: 280px;
  height: 256px;
}

@media (min-width: $tablet-width) {
  .slider__wrapper {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    margin-top: -149px;
  }
}

.slider__wrapper-before {
  clip-path: xywh(0% 0 50% 100%);
  display: block;
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%);
}

.slider__wrapper-after {
  clip-path: xywh(50% 0 50% 100%);
  display: block;
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%);
}

.slider__button {
  cursor: pointer;
  width: 4px;
  color: $color-icon;
  border: 2px solid $color-icon;
  border-radius: 2px;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 2px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  &:hover {
    color: $base-bg-color;
    border: 2px solid $base-bg-color;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    height: 512px;
    margin-top: -152px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    margin-top: -149px;
    left: 278px;
  }
}

.slider__button:hover .slider__icon {
  fill: $base-bg-color;
  stroke: $base-bg-color;
  border: 2px solid $base-bg-color;
  border-radius: 50%;
}


.slider__icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
